00{% extends "base.html" %}

{% block title %}
{{heading}}
{% endblock title %}

{% block content %}

<div container>
<div class="col-12" xmlns="http://www.w3.org/1999/html">
    <div class="alert alert-primary" role="alert">
      <h3>{{pesan}}</h3>
    </div>
  </div>



<div class="col-12">
    <div class="alert alert-primary" role="alert">
      Beban Peralatan
    </div>
  </div>
{% if form_alat %}
<form class="col-12 mt-5" xmlns="http://www.w3.org/1999/html" method="post">
    {% csrf_token %}

    <div class="form-group row">
        <label class="col-md-2 col-form-label">Gedung</label>
        <div class="col-md-3">
            {{form_alat.gedung}}
        </div>


    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">Level Lantai</label>
        <div class="col-md-3">
            {{form_alat.level_lantai}}
        </div>
        <label class="col-md-3 col-form-label">Nama Ruang</label>
        <div class="col-md-3">
           {{form_alat.nama_ruang}}
        </div>

    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">Jenis/Nama Alat</label>
        <div class="col-md-3">
            {{form_alat.jenis_alat}}
        </div>
        <label class="col-md-3 col-form-label">Beban (watt)</label>
        <div class="col-md-3">
           {{form_alat.beban}}
        </div>

    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label">Jumlah</label>
        <div class="col-md-3">
            {{form_alat.jumlah}}
        </div>
        <label class="col-md-3 col-form-label">Lama Pemakaian</label>
      <div class="col-md-3">
           {{form_alat.lama_penggunaan}}
      </div>
    </div>




        <div class="col-md-2 form-select">
            <br>
              <button type="submit" name="add_alat_btn">Tambah</button>
         </div>


</form>
{% endif %}

   <table class="table table-bordered" >
            <thead>
                <tr >
                     <!--th scope="col">ID </th-->
                    <th scope="col">Gedung</th>
                    <th scope="col">Level Lantai</th>
                    <th scope="col">Ruang</th>
                    <th scope="col">Jenis/Nama Alat</th>
                    <th scope="col">Beban(watt)</th>
                    <th scope="col">Jumlah(unit)</th>
                    <th scope="col">Lama Pemakaian</th>
                    <th scope="col">Aksi</th>


                </tr>
            </thead>
            <tbody>

                {% for alat in alats %}
                <tr class = "record">

                    <!--th scope="row" >{{alat.id}}</th-->
                    <td><label >{{alat.gedung}}</label></td>
                    <td><label >{{alat.level_lantai}}</label></td>
                    <td><label >{{alat.nama_ruang}}</label></td>
                    <td><label >{{alat.jenis_alat}}</label></td>
                    <td><label >{{alat.beban}}</label></td>
                    <td><label >{{alat.jumlah}}</label></td>
                    <td><label >{{alat.lama_penggunaan}}</label></td>
                    <td>
                         <form method="post" action="#">
                             {% csrf_token %}
                             <a href="{% url 'bebankalor:viewalat' alat.id %}" class="btn btn-outline-success">View</a>
                             <a href="{% url 'bebankalor:updatealat' alat.id %}" class="btn btn-outline-success">Edit</a>
                             <a href="{% url 'bebankalor:deletealat' alat.id %}" class="btn btn-outline-warning">Delete</a>
                        </form>
                    </td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
</div>
{% endblock content %}
