{% extends "base.html" %}

{% block title %}
{{heading}}
{% endblock title %}

{% block content %}



<div class ="container">
<div class="col-12">
    <div class="alert alert-primary" role="alert">
      Pilih Gedung dan Lantai
    </div>
  </div>

{% if form %}
<form xmlns="http://www.w3.org/1999/html" method="post">
    {% csrf_token %}
     <div class="form-group row">
        <label class="col-md-2 col-form-label">Gedung</label>
         <div class="col-md-3">
        {{form.gedung}}
       </div>
     </div>

    <div class="form-group row">
       <label class="col-md-2 col-form-label">Level Lantai</label>
        <div class="col-md-3">
         {{form.lantai}}
        </div>
        <div class="col-md-2 form-select">
              <button type="submit" name="search_profil_btn">Cari</button>
         </div>
    </div>




</form>
{% endif %}


<div class="col-12">
    <div class="alert alert-primary" role="alert">
      Daftar Ruang (Untuk saat ini dibatasi satu ruang untuk satu lantai)
    </div>
     {% if profil %}
    <table class="table  table-sm">

        <tbody>
         <tr class="table-active">
              <th scope="row">Nama</th>
              <td>{{profil.nama}}</td>

         </tr>
         <tr>
              <th scope="row">Alamat</th>
              <td>{{profil.alamat_lokasi}} {{profil.lintang}} {{profil.posisi_lintang}}, {{profil.bujur}} {{profil.posisi_bujur}}</td>
         </tr>
        <tr class="table-active">
              <th scope="row">Dimensi</th>
              <td></td>
         </tr>
        <tr>
              <th scope="row">Panjang</th>
              <td>{{profil.dim_panjang}}</td>
         </tr>
        <tr class="table-active">
              <th scope="row">Lebar</th>
              <td>{{profil.dim_lebar}}</td>
         </tr>
        <tr>
              <th scope="row">Tinggi</th>
              <td>{{profil.dim_tinggi}}</td>
         </tr>

        <tr class="table-active">
              <th scope="row">Temperatur</th>
              <td></td>
         </tr>
        <tr >
              <th scope="row">Temperatur Rata-Rata Harian</th>
              <td>     {{profil.temperatur_rh}}</td>
         </tr>
        <tr class="table-active">
              <th scope="row">Temperatur yang akan dicapai</th>
              <td>     {{profil.temperatur_obj}}</td>
         </tr>
        </tbody>
    </table>

    {% endif %}

  </div>

<div class="col-12">
    <div class="alert alert-light" role="alert">
   </div>
    <div class="alert alert-primary" role="alert">
      Beban Kalor Dalam:
    </div>


    {% if q_penghuni %}
    <div class="row">
    <div class="col-5">
      Beban Kalor Sensible Penghuni
    </div>
    <div class="col">
      : {{q_penghuni.q_sp|floatformat:2 }} Watt
    </div>

  </div>
    <div class="row">
    <div class="col-5">
      Beban Kalor Laten Penghuni
    </div>
    <div class="col">
     : {{q_penghuni.q_lt|floatformat:2 }} Watt
    </div>
    </div>
    {% endif%}

    {% if q_alat %}
    <div class="row">
    <div class="col-5">
      Beban Kalor Alat
    </div>
    <div class="col">
      : {{q_alat|floatformat:2 }} Watt
    </div>
    </div>
    {% endif%}

    {% if q_lampu %}
    <div class="row">
    <div class="col-5">
      Beban Kalor Lampu
    </div>
    <div class="col">
      : {{q_lampu}} Watt
    </div>

  </div>
    {% endif %}

<div class="alert alert-primary" role="alert">
      Beban Kalor Pertukaran Udara
    </div>
  {% if q_pintus %}
    <table class="table table-bordered" id="pintuTbl">
        <thead>
                <tr >
                    <th scope="col">Sisi</th>
                    <th scope="col">Q Sensible (watt)</th>
                    <th scope="col">Q Laten (watt)</th>
                <tr>
        </thead>
        <tbody>
          {% for q_pintu in q_pintus %}
                    <tr class = "record">
                    <td><label >{{q_pintu.sisi}}</label></td>
                    <td><label >{{q_pintu.q_sensible|floatformat:2 }}</label></td>
                    <td><label >{{q_pintu.q_laten|floatformat:2 }}</label></td>
                    </tr>
                    {% endfor %}
        </tbody>

    </table>
    {% endif %}

  </div>
    </div>
</div>
{% endblock content %}
